<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="description" content="">
<meta name="author" content="">
<!-- Main css -->
<link href="assets/css/main-style.css" rel="stylesheet">
</head>

<body>

<header>
    		
			<div class="nav-top-bar">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="top-bar-left">
						<ul>
<!--
							<li>
								<form class="woocommerce-ordering" method="get">
                                    
                                    <p>Group 8</p>

								</form>
							</li>
							
-->

							<li>
								<form class="woocommerce-ordering" method="get">
									<select class="selectpicker">
										<option>English</option>
										<option>简体中文</option>
										<option>Italiano</option>
									</select>
								</form>
							</li>
                            
                            <li>
								<form class="woocommerce-ordering" method="get">
									<select class="selectpicker">
										<option>USD</option>
										<option>EURO</option>
										<option>RMB</option>
									</select>
								</form>
							</li>
                            
						</ul>
					</div>
				</div>
				
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="top-bar-right">
						<ul>
							<li><a href="#">My Account</a></li>
<!--							<li><a href="#">Today's Deal</a></li>-->
<!--							<li><a href="#">My Wishlist</a></li>-->
							<li><a href="#">Log In</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
    
    
    
	<!-- Navigation Area
	===================================== -->
	<!--<div class="nav-top-bar">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="top-bar-left">
						<ul>
							<li>
								<form class="woocommerce-ordering" method="get">
									<select class="selectpicker">
										<option>USD</option>
										<option>EURO</option>
										<option>Relish</option>
									</select>
								</form>
							</li>
							
							<li>
								<form class="woocommerce-ordering" method="get">
									<select class="selectpicker">
										<option>EN</option>
										<option>EU</option>
										<option>RE</option>
									</select>
								</form>
							</li>
						</ul>
					</div>
				</div>
				
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="top-bar-right">
						<ul>
							<li><a href="#">My Account</a></li>
							<li><a href="#">Today's Deal</a></li>
							<li><a href="#">My Wishlist</a></li>
							<li><a href="#">Log In</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>-->
	
	<!-- Navigation Area
	===================================== -->
	<div class="logo-section">
		<div class="container">
			<div class="logo-wrap">
				<div class="logo">
					<a href="welcome"><img class="" src="assets/images/logo.png" alt=""></a>
        
				</div>
                
                <div class="widget_product_search">
					<input type="text" class="form-control search-box" placeholder="Search" style="background-color: darkblue">
					<button type="submit" class="submit-search"><i class="fa fa-search"></i></button>
				</div>

                <form class="woocommerce-ordering" method="get">
                     <p>     &nbsp &nbsp  </p>

                                    
                    <p>     &nbsp &nbsp Group 8 </p>

								</form>
                    
              
				
<!--
				<div class="widget_product_search">
					<input type="text" class="form-control search-box" placeholder="Search">
					<button type="submit" class="submit-search"><i class="fa fa-search"></i></button>
				</div>
-->
			</div>
		</div>
	</div>
	
	<!-- Navigation Area
        ===================================== -->
		<div class="navbar-sticky" >
			<nav class="navbar navbar-index-top shadow">
				<div class="container header-container">
					<div id="main-menu-wrap"><a href="#" class="menu-trigger"></a></div>
					<!-- Main Menu -->
					<div id="main-menu" class="main-nav mega_menu_wrapper ">
					
						<ul id="custom-menu" class="main-menu mega_menu">
							<li class="menu-child-list"><a href="welcome"><font color="white">Game Store</font></a></li>
						<li class="menu-child-list"><a href="myCollection"><font color="white">My Collection</font></a></li>
						<li><a href="findPlayer"><font color="white">Find Players</font></a></li>
						<li><a href="community"><font color="white">Community</font></a></li>
						<li><a href="support"><font color="white">Support</font></a></li>
						</ul>
					</div>
					
					<div class="pull-right nav-right-section">
						<ul class=" navbar-mini-cart-wrapper">
							<!--<li>
                                <input type="text" class="form-control search-box" placeholder="Enter search items of tags">
							</li>
						-->
						</ul> <!-- end  navbar-mini-cart -->
					</div>
				</div>

			</nav>
		</div>
	<!-- Navigation Area
	===================================== -->
	<!--<div class="navbar-sticky">
		<nav class="navbar navbar-index-top shadow">
			
			
			<div class="container header-container">

				<div id="main-menu-wrap"><a href="#" class="menu-trigger"></a></div>
				
				
				 Main Menu 
				<div id="main-menu" class="main-nav mega_menu_wrapper ">
				
					<ul id="custom-menu" class="main-menu mega_menu">
						<li class="menu-child-list"><a href="index">Home</a></li>
						<li class="menu-child-list"><a href="about">About us</a></li>
						<li><a href="shop">Shop</a></li>
						<li><a href="shop-single">Shop single</a></li>
						<li><a href="myCollection">Cart</a></li>
						<li><a href="shop-checkout">Checkout</a></li>
						<li class="menu-child-list"><a href="contact-us">Contact</a></li>
					</ul>
				</div>
				
				<div class="pull-right nav-right-section">
					<ul class=" navbar-mini-cart-wrapper">
						<li>
							<i class="fa fa-phone" aria-hidden="true"></i> +021-3456-789
						</li>
						<li>
							<a href="#" class="navbar-mini-cart-btn">
								<i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
								<span class="item-count">21</span>
							</a>-->
							<!--<ul class="navbar-mini-cart">
								<li class="item">
									<div class="product-img">
										<img src="assets/images/products/small-1.jpg" alt="">
									</div>
									<div class="product-details">
										<h6>Name of the product</h6>
										<p>$255.5</p>
										<a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
									</div>
								</li>
								<li class="item">
									<div class="product-img">
										<img src="assets/images/products/small-2.jpg" alt="">
									</div>
									<div class="product-details">
										<h6>Name of the product</h6>
										<p>$155.5</p>
										<a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
									</div>
								</li>
								<li class="minicart-price-total">
									<div class="price-total">
										<span class="label-price-total">Subtotal</span>
										<div class="price-total-w">
											<span>$255.5</span>
										</div>
									</div>

									<div class="checkout-btn">
										<a href="shop-cart" class="btn btn-default">View Cart</a>
										<a href="shop-checkout" class="btn btn-default ml-5">checkout</a>
									</div>
								</li>
							</ul>
						</li>
					</ul> <!-- end  navbar-mini-cart -->
	<!--			</div>
			</div>

		</nav>
	</div>
</header>
<div id="page_wrapper"></div>-->

<!-- Slider Area
===================================== -->
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="sidebar-menu">
					<ul class="sidebar-ul">
						<li>Rencent Played With</li>

						<li>
							<a href="findPlayer">Search by Name</a>
						</li>
						<li>
                            <a href="FindPlayerByLocation" style="color: black; font-weight: bold">Search by Location</a>
						</li>
					
					<!--<ul class="mt-15">
						<li>Most Popular</li>
						<li>
							<a href="#">Organic Medicine</a>
						</li>
						<li>
							<a href="#">Beauty & spa</a>
						</li>
					</ul>-->
                    </ul></div>
				<!--<div class="sidebar-menu-bottom mt-30">
					<h4>Get Notifications</h4>
					<a href="#" class="btn subscribe">SUBSCRIBE</a>
				</div>-->
			</div>
			<div>
				<!--div class="main-slider owl-carousel owl-theme mt-30">-->
                <div style="display: inline-block; padding-left: 50px">
						<!--<img class="img-responsive" src="assets/images/slider/slider-1.jpg" alt="">-->
                        <!--    <li style="width: 200px; padding-left: 220px; list-style: none; padding-top: 50px">-->
                                <p>Country:</p>
                               
					</div>
                
                <div style="display: inline-block">
						<!--<img class="img-responsive" src="assets/images/slider/slider-1.jpg" alt="">-->
                            
<!--                                <input type="text" class="form-control search-box" placeholder="" style="width: 120px">-->
                                <select class="form-control search-box" style="width: 150px">

                                          <option>China</option>

                                         <option>United Kindom</option>

                                         <option>Japan</option>

                                         <option>United States</option>
                           
                                         
                                         
                                    </select>
                               
					</div>
                    <div style="display: inline-block; padding-left: 50px">
						<!--<img class="img-responsive" src="assets/images/slider/slider-1.jpg" alt="">-->
                        <!--    <li style="width: 200px; padding-left: 220px; list-style: none; padding-top: 50px">-->
                                <p>Post Code:</p>
                               
					</div>
					<div style="display: inline-block">
						<!--<img class="img-responsive" src="assets/images/slider/slider-1.jpg" alt="">-->
                        <!--    <li style="width: 200px; padding-left: 220px; list-style: none; padding-top: 50px">-->
                                <input type="text" class="form-control search-box" placeholder="" style="width: 120px">
                    
                                
                               
					</div>
                <div style="display: inline-block; padding-left: 50px">
						<!--<img class="img-responsive" src="assets/images/slider/slider-1.jpg" alt="">-->
                           <!-- <li style="width: 80px; padding-left: 220px; list-style: none; padding-top: 50px">-->
                                <p>Radius(miles):</p>
                               
					</div>
                    <div style="display: inline-block">
						<!--<img class="img-responsive" src="assets/images/slider/slider-1.jpg" alt="">-->
                            <li style="width: 80px; padding-left: 10px; list-style: none; padding-top: 50px">
                                <input type="text" class="form-control search-box" placeholder="" style="width: 120px; position: relative">
                               
					</div>
                
                   <div style="margin-left: 650px; padding-top:50px">
                            <input class="btn btn-default" type="submit" value="Search" style="background-color: cornflowerblue; border-color: cornflowerblue"/>
                               </div>
                    
				<!--</div>-->
               
				
			<!--	<div class="discount-banner mt-30">
					<h1>30% Discount on  Natural Living</h1>
				</div>-->
			</div>
		</div>
	</div>
</section>

<!-- Navigation Area
===================================== -->
<section id="welcome-text">
	<div class="container">
		<div class="row">
			<div class="col-md-6 pr-gero">
				<!--<div class="welcome-content">
					<div class="organix-header text-left">
						<h1>Welcome to <br>The Organix</h1>
						<div class="heading-border"></div>
						<p>
							Health care with organic science
						</p>
					</div>
					
					<p>
						Duis autem vel eum irure dolor n hendrer it in <br>
						vul uputate velt esse molestie conseq uat. Duis <br>
						suautem vel eupm irure dolor in hendrerit in v <br>
						ulputate velit esse molestie.
					</p>
					
					<a class="btn btn-default" href="#"> read more </a>
				</div>-->
			</div>
			<div class="col-md-6 pl-gero">
				<div class="welcome-content-image">
					<!--<img class="img-responsive" src="assets/images/wc-1.jpg" alt="">-->
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Navigation Area
===================================== -->

<!-- End Section Image Content  -->

<!-- Navigation Area
===================================== -->

<!-- End Section Image Content  -->

<!-- Navigation Area
===================================== -->
<section id="top-selling-product"  class="ptb-100">
	<div class="container" style="margin-left: 450px">
          <head>   
      <script   
          src="http://maps.google.com/maps?file=api&v=2&sensor=true;   
          key=ABQIAAAAevysxt9O5lBUCrSalm80MxQx8gmx0K-_Fjj4Tf8bNXH3BBSxZRRmI_CuZM2zQyuXEpG_uxt-aqPr-A"   
          type="text/javascript"></script>   
          <script language="javascript" type="text/javascript">   
      function load() {     //加载地图   
          if (GBrowserIsCompatible()) {    
              var map = new GMap2(document.getElementById("map"));    
              map.addControl(new GSmallMapControl());    //放大缩小   
              map.addControl(new GMapTypeControl());     //地图种类   
              map.enableScrollWheelZoom();    //启用鼠标滚轮   
              map.setCenter(new GLatLng(39.9000, 116.3000), 6);   //地图坐标 三个参数分别为 "纬度" "经度" "比例尺"   
              
              function createMarker(point, address,name,tel) {  //创建标记内容及标记的鼠标事件   
                 var marker = new GMarker(point);   
                 var html = '<div>'+   
                     '<a >Name:'+ name +'</a><br/>'+   
                     '<a >Address:'+address +'</a><br/>'+   
                     '<a >telephone:'+tel +'</a>'+   
                     '</div>';   
                 GEvent.addListener(marker, "mouseover", function() {   
                     marker.openInfoWindowHtml(html);   
                 });   
                 GEvent.addListener(marker, "mouseout", function() {   
                     marker.closeInfoWindow();   
                 });   
                 GEvent.addListener(marker, "click", function() {   
                     map.setCenter(point, 12);    
                 });   
                 return marker;   
             }   
             var point = new GLatLng(39.9000,116.3000);     // 设置标记   
             map.addOverlay(createMarker(point,'beijing','sh','123456'));//加入标记   
         }     
     }       
  </script>   
      </head>   
      <body onload="load()">   
          <div id="map" style="width: 750px; height: 500px"></div>   
      </body> 
	</div>
    
</section>
    
    
    
<!-- End Section Image Content  -->

<!-- Latest News Area

<!-- End Section Image Content  -->


<!-- Latest News Area
===================================== -->

<!-- End Section Image Content  -->

<!-- Partners Area
===================================== -->

<!-- End Section Image Content  -->

<!-- Footer Area
===================================== -->

<!-- End Section Image Content  -->

<!-- ============ Js Files ============ -->
<!-- Placed at the end of the document so the pages load faster -->

<!-- Core js -->
<script src="assets/js/jquery-3.1.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>	

<script src="assets/js/menu.js"></script>	
<script src="assets/js/jquery.sticky.js"></script>	
<script src="assets/js/owl.carousel.min.js"></script>	
<script src="assets/js/jquery.dcjqaccordion.min.js"></script>	
<!--<script src="assets/js/instagram.js"></script>-->	
<script src="assets/js/appear.js"></script>	

<!-- Google Map -->
<script type="text/javascript" src="http://ditu.google.cn/maps/api/js?key=AIzaSyAvpnlHRidMIU374bKM5-sx8ruc01OvDjI"></script>
<script src="assets/js/gmap3.min.js"></script>

<!-- Custom Script -->		
<script src="assets/js/main.js"></script>	

<script>
	
    </script></section></header>
</body>
</html>