<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Shop Single</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<meta name="description" content="">
		<meta name="author" content="">
		
        
        	
			<div class="nav-top-bar">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="top-bar-left">
						<ul>
<!--
							<li>
								<form class="woocommerce-ordering" method="get">
                                    
                                    <p>Group 8</p>

								</form>
							</li>
							
-->

							<li>
								<form class="woocommerce-ordering" method="get">
									<select class="selectpicker">
										<option>English</option>
										<option>简体中文</option>
										<option>Italiano</option>
									</select>
								</form>
							</li>
                            
                            <li>
								<form class="woocommerce-ordering" method="get">
									<select class="selectpicker">
										<option>USD</option>
										<option>EURO</option>
										<option>RMB</option>
									</select>
								</form>
							</li>
                            
						</ul>
					</div>
				</div>
				
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="top-bar-right">
						<ul>
							<li><a href="#">My Account</a></li>
<!--							<li><a href="#">Today's Deal</a></li>-->
<!--							<li><a href="#">My Wishlist</a></li>-->
							<li><a href="#">Log In</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
    
    
		
		<!-- Main css -->
		<link href="assets/css/main-style.css" rel="stylesheet" >
		
	</head>

	<body>
         

		
		<!-- Navigation Area
			===================================== -->
			<div class="logo-section">
				<div class="container">
					<div class="logo-wrap">
						<div class="logo">
							<a href="welcome"><img class="" src="assets/images/logo.png" alt=""></a>
						</div>
						
						<div class="widget_product_search">
							<input type="text" class="form-control search-box" placeholder="Search" style="background-color: darkblue">
							<button type="submit" class="submit-search"><i class="fa fa-search"></i></button>
						</div>
                        <form class="woocommerce-ordering" method="get">
                     <p>     &nbsp &nbsp  </p>

                                    
                    <p>     &nbsp &nbsp Group 8 </p>

								</form>
					</div>
				</div>
			</div>
		
		<!-- Navigation Area
        ===================================== -->
		<div class="navbar-sticky">
			<nav class="navbar navbar-index-top shadow">
				<div class="container header-container">
					<div id="main-menu-wrap"><a href="#" class="menu-trigger"></a></div>
					<!-- Main Menu -->
					<div id="main-menu" class="main-nav mega_menu_wrapper ">
					
						<ul id="custom-menu" class="main-menu mega_menu">
							<li class="menu-child-list"><a href="welcome" style="color: white">Game Store</a></li>
						<li class="menu-child-list"><a href="myCollection" style="color: white">My Collections</a></li>
						<li><a href="findPlayer" style="color: white">Find Players</a></li>
						<li><a href="community" style="color: white">Community</a></li>
						<li><a href="support" style="color: white">Support</a></li>
<!--
						<li><a href="shop-checkout">Checkout</a></li>
						<li class="menu-child-list"><a href="contact-us">Contact</a></li>
-->
						</ul>
					</div>
					
					
				</div>

			</nav>
		</div>
		
		<div id="page_wrapper"></div>
		
		<!-- Common Header Area
        ===================================== -->
		<section>
			<div class="breadcrumps-back">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="breadcrumps-heading">
								<h1>Game Info</h1>
								<div class="breadcrumps-border"></div>
								<ul>
									<li> <a href="welcome"> Game Store</a> /</li>
									<li> <a href="#"> Game Info</a></li>
									<li></li>
								</ul>
								
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<!-- Page Content Area
        ===================================== -->
		<section id="shop-single-product" class="ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<div class="product-single-content">
							<div class="row">
								<div class="col-md-5 col-sm-5">
									<div class="product-image">
										<img class="img-responsive" src="assets/images/products/product-single-1.png" alt="">
									</div>
								</div>
								<div class="col-md-7 col-sm-7">
									<div class="product-content-right">
										<h3>Super Mario Maker 2</h3>
										<div class="single-product-review">
											<ul>
												<li>
													<i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
												</li>
												<li>
													<p>(9 reviews)</p>
												</li>
											</ul>
										</div>
										
										<h5>From $4.89</h5>
										
										<p>
											This is the brief description of the game.
										</p>
									</div>
									
									<div class="product-quantity">
										<ul>
                                            <li>
												<a href="#" class="btn cart-button">Buy a Copy</a>
											</li>
											<li>
												<a href="#" class="btn cart-button">ADD TO COLL.</a>
											</li>
											
											<li>
<!--
												<div class="cart-item-quantity">
													<input class="quantity form-group" type="number" value="01">
												</div>
-->
											</li>
										</ul>
									</div>
								</div>
							</div>
							
							<div class="product-tags">
								<ul>
									<li>
										No. of Players: <span>1-5</span>
									</li>
									<li>
										Playing Time: <span>20-30 mintes</span>
									</li>
									<li>
										Suitable Age: <span>10+</span>
									</li>
                                    <li>
										Category: <span>Action</span>
									</li>
                                    <li>
										Platform: <span>Windows / MacOS</span>
									</li>
                                    <li>
										File Size: <span>2.8 GB</span>
									</li>
<!--
									<li>
										Category <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
									</li>
-->
								</ul>
							</div>
						</div>
						
						<!-- Product Row Two -->
						<div class="row pt-50">
							<div class="col-md-12">
								<div class="tab-horizontal">
									<!-- Nav tabs -->
									<ul class="nav nav-tabs product-navtabs">
									  <li class="active"><a href="#eightteen" data-toggle="tab">Overview </a></li>
									  <li><a href="#nineteen" data-toggle="tab">Rating & Comments</a></li>
									  <li><a href="#seventeen" data-toggle="tab">Official Documents</a></li>
                                      <li><a href="#fifteen" data-toggle="tab">House Rules</a></li>
                                      <li><a href="#sixteen" data-toggle="tab">Videos</a></li>
                                        
									</ul>

									<!-- Tab panes -->
									<div class="tab-content product-tab-content">
                                        
                                        <div class="tab-pane fade" id="fifteen">	
                                             <h5>House Rules</h5><br>
                                            <input type="text" class="form-control search-box" placeholder="Search">
<!--                                            <button type="submit" class="submit-search"><i class="fa fa-search"></i></button>-->
                                            
<!--
                                           <div class="container" style="vertical-align: middle">
			                                 <div class="row">
                                             <div class="col-md-6 col-sm-6 col-xs-12" style="vertical-align: middle">
-->
                                            
                                                 <div class="top-bar-left" style="vertical-align: middle">
                                                     <br><br>
                                                <ul>
							                     <li><a href="#">Hot</a></li>
							                     <li><a href="#">Recent</a></li>
						                      </ul>
                                                </div> 
                                            
                                            <div class="top-bar-right">

                                              <form class="woocommerce-ordering" method="get">
									   <select class="selectpicker">
                                        <option>English</option>
                                        <option>France</option>
										<option>All</option>	
									   </select>
								        </form> 
<!--
                                                <div class="widget_product_search" style="vertical-align: middle">
                                                    
							                 <input type="text" class="form-control search-box" placeholder="Search">
							                 <button type="submit" class="submit-search"><i class="fa fa-search"></i></button>
                                                    
                                        
						                    </div>  
-->
                                           
                                                  </div> 
                                                 
                                                 
<!--
                                                 </div>
                                              </div>
                                                
                                               </div>
-->
                                        
											<div class="comment-holder">
													<ul class="media-list comment-list">
														<li class="media single-authors-content pt-40 pb-30"> 
															<div class="media-left"> 
																<a href="#"> 
																	<img class="media-object" src="assets/images/pdf.png" alt=""> 
																</a> 
																
															</div> 
															<div class="media-body"> 

																<p>
																
                                                                    House Rules in English for Super Mario Maker 2 <br>
                                                                    Author&nbsp &nbsp &nbsp Jan. 31, 2020
																</p>

                                                                 <a href="#leave-comment"> <i class="fa fa-thumbs-up" aria-hidden="true"></i> Like&nbsp </a>
                                                                <a href="#leave-comment"><i class="fa fa-thumbs-down" aria-hidden="true"></i> Report&nbsp</a>
                                                                <a href="#leave-comment"><i class="fa fa-reply-all" aria-hidden="true"></i> Reply</a>
                                                                
															</div> 
														</li>
                                                        
                                                        <li class="media single-authors-content pt-40 pb-30"> 
															<div class="media-left"> 
																<a href="#"> 
																	<img class="media-object" src="assets/images/pdf.png" alt=""> 
																</a> 
																
															</div> 
															<div class="media-body"> 

																<p>
																
                                                                     House Rules in English for Super Mario Maker 2 <br>
                                                                    Author&nbsp &nbsp &nbsp Jan. 31, 2020
																</p>

                                                                 <a href="#leave-comment"> <i class="fa fa-thumbs-up" aria-hidden="true"></i> Like&nbsp </a>
                                                                <a href="#leave-comment"><i class="fa fa-thumbs-down" aria-hidden="true"></i> Report&nbsp</a>
                                                                <a href="#leave-comment"><i class="fa fa-reply-all" aria-hidden="true"></i> Reply</a>
															</div> 
														</li>
														
														<li class="media single-authors-content pt-25 pb-30"> 
															<div class="media-left"> 
																<a href="#"> 
																	<img class="media-object" src="assets/images/pdf.png" alt=""> 
																</a> 
																
															</div> 
															<div class="media-body"> 

																<p>
																	  House Rules in English for Super Mario Maker 2 <br>
                                                                    Author&nbsp &nbsp &nbsp Jan. 31, 2020
																</p>

                                                                 <a href="#leave-comment"> <i class="fa fa-thumbs-up" aria-hidden="true"></i> Like&nbsp </a>
                                                                <a href="#leave-comment"><i class="fa fa-thumbs-down" aria-hidden="true"></i> Report&nbsp</a>
                                                                <a href="#leave-comment"><i class="fa fa-reply-all" aria-hidden="true"></i> Reply</a>
															</div> 
														</li>
													</ul>
												</div>
                                            
                                            <div id="leave-comment" class="page-left-header pt-60">
													<h5>Your House Rules</h5>
													
												
												</div>
												
												<div class="">
																
													<!-- Post Form -->                            
													<form class="form reply-form pt-25">
														<div class="clearfix">
															<div id="contact_message"></div>
															
															
															<div class="col-xs-12">
																<!-- Message -->
																<div class="form-group">
																	<textarea rows="8" class="form-control organix-reply-form" placeholder="House Rules"></textarea>
																</div>
																
															</div>
															
															<div class="col-xs-6">
																<!-- Tag -->
																<div class="form-group">
																	<input type="text" class="form-control organix-reply-form" placeholder="Tag*" pattern=".{2,100}" required>
																</div>
															</div>
															<div class="col-xs-6">
																<!-- Name -->
																<div class="form-group">
																	<input type="email" class="form-control organix-reply-form" placeholder="Name*"  required>
																</div>
															</div>
															
															
														</div>
														
														<div class="col-xs-12">
															<!-- Send Button -->
															<button class="btn btn-default">Submit</button>
														</div>
														
														
													</form>
												</div>
                                            
										</div>
                                        
										<div class="tab-pane fade in active" id="eightteen">	
                                            <h5>About the Game</h5>
											<P>
												Mario fans of the world, unite! Now you can play, create, and share* the side-scrolling Super Mario™ courses of your dreams in the Super Mario Maker™ 2 game, available exclusively on the Nintendo Switch™ system! Dive into the single-player Story Mode and play built-in courses to rebuild Princess Peach’s castle. Make your own courses, alone or together. And with a Nintendo Switch Online membership*, share your courses, access a near-endless supply made by others, enjoy online multiplayer, and more!
											</P>
                                            <br><br><br>
                                            <div class="row">
                                                 
                                                <br>
												<div class="col-md-3 col-sm-6 col-xs-12">
                                                    <h5>Buy a Copy</h5>
                                                   
													<div class="product-info">
                                                        <h5>Official Links:</h5>
 
														<ul>
<!--
                                                            <li>
																&nbsp  <span>Official Links :</span>
															</li>
-->
															<li>
																<a href="https://www.nintendo.co.uk/Games/Nintendo-Switch/Super-Mario-Maker-2-1514009?gclid=Cj0KCQiA1-3yBRCmARIsAN7B4H24edwXZ8vacQKZNKK5o6ccv2PUxMb0UjaZ585S9an2G8scQmFz9yEaAnaMEALw_wcB#">Super Mario 2</a> &nbsp$5.89
															</li>
<!--
															<li>
																Weight: <span>2 kg</span>
															</li>
															<li>
																Origin: <span>Mexico</span>
															</li>
-->
														</ul>

													</div>
												</div>
												<div class="col-md-4 col-sm-6 col-xs-12">
													<div class="product-info">
                                                        <br><br>
                                                        <h5>Other Retails :</h5>

														<ul>
<!--
															<li>
																&nbsp  <span>Other Retails :</span>
															</li>
-->
															<li>
																<a href="https://www.nintendo.co.uk/Games/Nintendo-Switch/Super-Mario-Maker-2-1514009?gclid=Cj0KCQiA1-3yBRCmARIsAN7B4H24edwXZ8vacQKZNKK5o6ccv2PUxMb0UjaZ585S9an2G8scQmFz9yEaAnaMEALw_wcB#">Amazon</a> &nbsp$4.89
															</li>
                                                            <li>
																<a href="https://www.nintendo.co.uk/Games/Nintendo-Switch/Super-Mario-Maker-2-1514009?gclid=Cj0KCQiA1-3yBRCmARIsAN7B4H24edwXZ8vacQKZNKK5o6ccv2PUxMb0UjaZ585S9an2G8scQmFz9yEaAnaMEALw_wcB#">Ebay</a> &nbsp$4.89
															</li>
														</ul>

													</div>
												</div>
											</div>
                                            
										</div>
										
										<div class="tab-pane fade" id="seventeen">	
                                             <h5>Official Documents</h5><br>
                                            <input type="text" class="form-control search-box" placeholder="Search">
<!--                                            <button type="submit" class="submit-search"><i class="fa fa-search"></i></button>-->
                                            
<!--
                                           <div class="container" style="vertical-align: middle">
			                                 <div class="row">
                                             <div class="col-md-6 col-sm-6 col-xs-12" style="vertical-align: middle">
-->
                                            
                                                 <div class="top-bar-left" style="vertical-align: middle">
                                                     <br><br>
                                                <ul>
							                     <li><a href="#">Hot</a></li>
							                     <li><a href="#">Recent</a></li>
						                      </ul>
                                                </div> 
                                            
                                            <div class="top-bar-right">

                                              <form class="woocommerce-ordering" method="get">
									   <select class="selectpicker">
                                        <option>English</option>
                                        <option>France</option>
										<option>All</option>	
									   </select>
								        </form> 
<!--
                                                <div class="widget_product_search" style="vertical-align: middle">
                                                    
							                 <input type="text" class="form-control search-box" placeholder="Search">
							                 <button type="submit" class="submit-search"><i class="fa fa-search"></i></button>
                                                    
                                        
						                    </div>  
-->
                                           
                                                  </div> 
                                                 
                                                 
<!--
                                                 </div>
                                              </div>
                                                
                                               </div>
-->
                                            
                                                
                                                    
							              
                                        
											<div class="comment-holder">
													<ul class="media-list comment-list">
														<li class="media single-authors-content pt-40 pb-30"> 
															<div class="media-left"> 
																<a href="#"> 
																	<img class="media-object" src="assets/images/pdf.png" alt=""> 
																</a> 
																
															</div> 
															<div class="media-body"> 

																<p>
																
                                                                    Official rulebook in English for Super Mario Maker 2 <br>
                                                                    Author&nbsp &nbsp &nbsp Jan. 31, 2020 
																</p>

                                                                 <a href="#leave-comment"> <i class="fa fa-thumbs-up" aria-hidden="true"></i> Like&nbsp </a>
                                                                <a href="#leave-comment"><i class="fa fa-reply-all" aria-hidden="true"></i> Reply</a>
															</div> 
														</li>
                                                        
                                                        <li class="media single-authors-content pt-40 pb-30"> 
															<div class="media-left"> 
																<a href="#"> 
																	<img class="media-object" src="assets/images/pdf.png" alt=""> 
																</a> 
																
															</div> 
															<div class="media-body"> 

																<p>
																
                                                                     Official rulebook in English for Super Mario Maker 2 <br>
                                                                    Author&nbsp &nbsp &nbsp Jan. 31, 2020 
																</p>

                                                                 <a href="#leave-comment"> <i class="fa fa-thumbs-up" aria-hidden="true"></i> Like&nbsp </a>
                                                                <a href="#leave-comment"><i class="fa fa-reply-all" aria-hidden="true"></i> Reply</a>
															</div> 
														</li>
														
														<li class="media single-authors-content pt-25 pb-30"> 
															<div class="media-left"> 
																<a href="#"> 
																	<img class="media-object" src="assets/images/pdf.png" alt=""> 
																</a> 
																
															</div> 
															<div class="media-body"> 

																<p>
																	  Official rulebook in English for Super Mario Maker 2 <br>
                                                                    Author&nbsp &nbsp &nbsp Jan. 31, 2020 
																</p>

                                                                 <a href="#leave-comment"> <i class="fa fa-thumbs-up" aria-hidden="true"></i> Like&nbsp </a>
                                                                <a href="#leave-comment"><i class="fa fa-reply-all" aria-hidden="true"></i> Reply</a>
															</div> 
														</li>
													</ul>
												</div>
										</div>
                                        
                                        
                                        <div class="tab-pane fade" id="sixteen">	
											<section id="video-section">
				<div class="video-overlay">
					<div class="media-btns buttons">
						<div class="play-btn button" id="play-button">
						</div>
						<div class="pause-btn button" id="pause-button">
						</div>
					</div>
				</div>
				<div class="video-container">
					<iframe width="auto" height="auto" src="/www.youtube.com/embed/tDvBwPzJ7dY?autoplay=1&loop=1&controls=0&start=31&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
					</div>
				<!-- 1. The <div> tag will contain the <iframe> (and video player) -->
				<div class="video-container">
					<div id="player"></div>
				</div>
			</section>
										</div>
                                        
										
										<div class="tab-pane fade" id="nineteen">
                                            <h5>Rating & Comments of Players</h5>
                                            
                                        
                                            <div class="widget widget_tag ">
                                                
                        <div class="top-bar-right">

                                              <form class="woocommerce-ordering" method="get">
									<select class="selectpicker">
                                        <option>Sort by Highest Rated Reviews</option>
                                        <option>Sort by Lowest Rated</option>
										<option>Sort by Newest First</option>
										<option>Sort by Oldest First</option>
										
									</select>
								</form>  
                                                  </div>  
                                                
                                                <div class="widget_product_search">
                                                    
							                 <input type="text" class="form-control search-box" placeholder="Search">
							                 <button type="submit" class="submit-search"><i class="fa fa-search"></i></button>
                                                    
                                        
						                    </div> 
								<h2 class="widget-title">Popular Tags</h2>
								
								<ul>
									<li class="cat-item"><a href="#">Strategy</a></li>
									<li class="cat-item"><a href="#">Fantasy</a></li>
									<li class="cat-item"><a href="#">Action</a></li>
                                    <li class="cat-item"><a href="#">Easy</a></li>
                                    <li class="cat-item"><a href="#">Great</a></li>
                                    
								</ul>
                                              
                                                
							</div>
                                            
								
							
											
<!--                                             <div class="widget_product_search">-->
<!--							                 <input type="text" class="form-control search-box" placeholder="Search">-->
<!--							                 <button type="submit" class="submit-search"><i class="fa fa-search"></i></button>-->
<!--						                    </div> -->
                                            
                                            
                                            <div class="">
                                                
                                          
												<div class="comment-holder">
													<ul class="media-list comment-list">
														<li class="media single-authors-content"> 
															<div class="media-left"> 
																<a href="#"> 
																	<img class="media-object" src="assets/images/Player-1.png" alt=""> 
																</a> 
																<h5 class="media-heading">Jona</h5> 
																<p>Jan. 31, 2020</p>
															</div> 
															<div class="media-body"> 
																<i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
																<p>
																	This is an excellent engine-building game. 
																</p>
                                                                <a href="#leave-comment"> <i class="fa fa-thumbs-up" aria-hidden="true"></i> Like&nbsp </a>
                                                                <a href="#leave-comment"><i class="fa fa-thumbs-down" aria-hidden="true"></i> Report&nbsp</a>
                                                                <a href="#leave-comment"><i class="fa fa-reply-all" aria-hidden="true"></i> Reply</a>
															</div> 
														</li>
                                                        
                                                        <li class="media single-authors-content"> 
															<div class="media-left"> 
																<a href="#"> 
																	<img class="media-object" src="assets/images/Player-1.png" alt=""> 
																</a> 
																<h5 class="media-heading">Jona</h5> 
																<p>Jan. 31, 2020</p>
															</div> 
															<div class="media-body"> 
																<i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
																<p>
																	There's enough time to accomplish some really cool stuff, but not enough to do everything, which is a perfect balance. Seeking out the best combo of cards and how to invest in production vs. points is really engaging.
																</p>
                                                                <a href="#leave-comment"> <i class="fa fa-thumbs-up" aria-hidden="true"></i> Like&nbsp </a>
                                                                <a href="#leave-comment"><i class="fa fa-thumbs-down" aria-hidden="true"></i> Report&nbsp</a>
                                                                <a href="#leave-comment"><i class="fa fa-reply-all" aria-hidden="true"></i> Reply</a>
															</div> 
														</li>
														
                                                        <li class="media single-authors-content"> 
															<div class="media-left"> 
																<a href="#"> 
																	<img class="media-object" src="assets/images/Player-1.png" alt=""> 
																</a> 
																<h5 class="media-heading">Jona</h5> 
																<p>Jan. 31, 2020</p>
															</div> 
															<div class="media-body"> 
																<i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
																<p>
																	This is an excellent engine-building game. 
																</p>
                                                                <a href="#leave-comment"> <i class="fa fa-thumbs-up" aria-hidden="true"></i> Like&nbsp </a>
                                                                <a href="#leave-comment"><i class="fa fa-thumbs-down" aria-hidden="true"></i> Report&nbsp</a>
                                                                <a href="#leave-comment"><i class="fa fa-reply-all" aria-hidden="true"></i> Reply</a>
															</div> 
														</li>
                                                        
                                                        
                                                        
														<li class="media single-authors-content pt-25 pb-30"> 
															<div class="media-left"> 
																<a href="#"> 
																	<img class="media-object" src="assets/images/Player-1.png" alt=""> 
																</a> 
																<h5 class="media-heading">John</h5> 
																<p>Jan. 31, 2020</p>
															</div> 
															<div class="media-body"> 
																<i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
																<p>
																	 Love the decisions and tension of trying to do as much as possisble in a limited time. There's enough time to accomplish some really cool stuff, but not enough to do everything, which is a perfect balance. Seeking out the best combo of cards and how to invest in production vs. points is really engaging 
																</p>
                                                                <a href="#leave-comment"> <i class="fa fa-thumbs-up" aria-hidden="true"></i> Like&nbsp </a>
                                                                <a href="#leave-comment"><i class="fa fa-thumbs-down" aria-hidden="true"></i> Report&nbsp</a>
                                                                <a href="#leave-comment"><i class="fa fa-reply-all" aria-hidden="true"></i> Reply</a>
															</div> 
														</li>
													</ul>
												</div>
												
												<div id="leave-comment" class="page-left-header pt-60">
													<h5>Your review</h5>
													
													<div class="form-group">
														<label class="pt-40">Your Rating :</label>
														<i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
													</div>
												</div>
												
												<div class="">
																
													<!-- Post Form -->                            
													<form class="form reply-form pt-25">
														<div class="clearfix">
															<div id="contact_message"></div>
															
															
															<div class="col-xs-12">
																<!-- Message -->
																<div class="form-group">
																	<textarea rows="8" class="form-control organix-reply-form" placeholder="Message"></textarea>
																</div>
																
															</div>
															
															<div class="col-xs-6">
																<!-- Tag -->
																<div class="form-group">
																	<input type="text" class="form-control organix-reply-form" placeholder="Tag*" pattern=".{2,100}" required>
																</div>
															</div>
															<div class="col-xs-6">
																<!-- Name -->
																<div class="form-group">
																	<input type="email" class="form-control organix-reply-form" placeholder="Name*"  required>
																</div>
															</div>
															
															
														</div>
														
														<div class="col-xs-12">
															<!-- Send Button -->
															<button class="btn btn-default">Submit</button>
														</div>
														
														
													</form>
												</div>
										</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Product Row Two -->
						
						<div class="row  pt-70">
							<div class="col-md-12">
								<div class="related-item">
									<h3>Customers who viewed this game also viewed</h3>
								</div>
							</div>
						</div>
						
						<div class="row pt-25">
							<div class="col-md-4 col-sm-6 col-xs-6">
								<div class="product-style-1 text-center">
									<img class="img-responsive" src="assets/images/products/product-1.jpg" alt="">
									
									<div class="product-detail-content">
										<h6>Game Title </h6>
										<div class="product-rating-with-border">
											<div class="background-border"></div>
											<ul>
												<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
												<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
												<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
												<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
												<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
											</ul>
										</div>
										<h5>From $4.89</h5>
										<a class="btn cart-button" href="#"> ADD TO COLL. </a>
									</div>
								</div>
							</div>
							
							<div class="col-md-4 col-sm-6 col-xs-6">
								<div class="product-style-1 text-center">
									<img class="img-responsive" src="assets/images/products/product-2.png" alt="">
									
									<div class="product-detail-content">
										<h6>Game Title </h6>
										<div class="product-rating-with-border">
											<div class="background-border"></div>
											<ul>
												<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
												<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
												<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
												<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
												<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
											</ul>
										</div>
										<h5>From $4.89</h5>
										<a class="btn cart-button" href="#"> ADD TO COLL. </a>
									</div>
								</div>
							</div>
							
							<div class="col-md-4 col-sm-6 col-xs-6">
								<div class="product-style-1 text-center">
									<img class="img-responsive" src="assets/images/products/product-3.png" alt="">
									
									<div class="product-detail-content">
										<h6>Game Title </h6>
										<div class="product-rating-with-border">
											<div class="background-border"></div>
											<ul>
												<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
												<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
												<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
												<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
												<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
											</ul>
										</div>
										<h5>From $4.89</h5>
										<a class="btn cart-button" href="#"> ADD TO COLL. </a>
									</div>
								</div>
							</div>
                            
<!--
                            <div class="col-md-4 col-sm-6 col-xs-6">
								<div class="product-style-1 text-center">
									<img class="img-responsive" src="assets/images/products/product-2.png" alt="">
									
									<div class="product-detail-content">
										<h6>Game Title </h6>
										<div class="product-rating-with-border">
											<div class="background-border"></div>
											<ul>
												<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
												<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
												<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
												<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
												<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
											</ul>
										</div>
										<h5>From $4.89</h5>
										<a class="btn cart-button" href="#"> ADD TO COLL. </a>
									</div>
								</div>
							</div>
-->
                            
						</div>
					</div>
					<aside class="sidebar-right">
						<div class="col-md-3">
							<div class="widget blog-right-search">
								<h2 class="widget-title">Search</h2>
								
								<input type="text" class="form-control search-box" placeholder="Type to search here" >
								<button type="submit" class="submit-search"><i class="fa fa-search"></i></button>
							</div>
							
							
<!--
							<div class="widget mt-30">
								<h2 class="widget-title">Category</h2>
								
								<ul>
									<li class="cat-item"><a href="#">Gardening <span class="cat-count">(2)</span></a></li>
									<li class="cat-item"><a href="#">Plantation <span class="cat-count">(3)</span></a></li>
									<li class="cat-item"><a href="#">Travel <span class="cat-count">(2)</span></a></li>
									<li class="cat-item"><a href="#">Lifestyle <span class="cat-count">(4)</span></a></li>
									<li class="cat-item"><a href="#">Education <span class="cat-count">(2)</span></a></li>
									<li class="cat-item"><a href="#">Inspiration <span class="cat-count">(6)</span></a></li>
								</ul>
							</div>
							
-->
							<div class="widget mt-30">
								<h2 class="widget-title">Recently Viewd</h2>
								
								<div class="sidebar-product-list">
									<ul>
										<li>
											<div class="media">
												<div class="media-left">
													<img src="assets/images/products/small-1.png" alt="">
												</div>
												<div class="media-body">
													<a href="#">Game Title</a>
													<p>From $16</p>
												</div>
											</div>
										</li>
										
										<li>
											<div class="media">
												<div class="media-left">
													<img src="assets/images/products/small-2.png" alt="">
												</div>
												<div class="media-body">
													<a href="#">Game Title</a>
													<p>From $16</p>
												</div>
											</div>
										</li>
										
										<li>
											<div class="media">
												<div class="media-left">
													<img src="assets/images/products/small-1.png" alt="">
												</div>
												<div class="media-body">
													<a href="#">Game Title</a>
													<p>From $16</p>
												</div>
											</div>
										</li>
										
										<li>
											<div class="media">
												<div class="media-left">
													<img src="assets/images/products/small-2.png" alt="">
												</div>
												<div class="media-body">
													<a href="#">Game Title</a>
													<p>From $16</p>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
							
<!--
							<div class="widget widget_tag mt-30">
								<h2 class="widget-title">Tags</h2>
								
								<ul>
									<li class="cat-item"><a href="#">Fresh</a></li>
									<li class="cat-item"><a href="#">Planting</a></li>
									<li class="cat-item"><a href="#">Planting</a></li>
									<li class="cat-item"><a href="#">Organics</a></li>
									<li class="cat-item"><a href="#">Green</a></li>
									<li class="cat-item"><a href="#">Vagetabes</a></li>
									<li class="cat-item"><a href="#">Gardening</a></li>
									<li class="cat-item"><a href="#">Vagetabes</a></li>
								</ul>
							</div>
-->
							
<!--
							<div class="widget widget_social mt-30">
								<h2 class="widget-title">Socials</h2>
								
								<ul>
									<li class="cat-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li class="cat-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li class="cat-item"><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
									<li class="cat-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
									<li class="cat-item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								</ul>
							</div>
-->
							
						</div>
					</aside>
				</div>
				
			</div>
		</section>
		<!-- End Section Image Content  -->
		
		<!-- Footer Area
        ===================================== -->
		<footer class="footer-back">
			<div class="container">
				</div>
				
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="footer-copyright-content text-center ptb-60">
							<p>Copyright &copy; 2020.Group 8 All rights reserved.</p>
								</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End Section Image Content  -->
		
		
		<!-- ============ Js Files ============ -->
		    <!-- Placed at the end of the document so the pages load faster -->
			
			<!-- Core js -->
			<script src="assets/js/jquery-3.1.1.min.js"></script>
			<script src="assets/js/bootstrap.min.js"></script>	
			
			<script src="assets/js/menu.js"></script>	
			<script src="assets/js/jquery.sticky.js"></script>	
			<script src="assets/js/owl.carousel.min.js"></script>	
			<script src="assets/js/appear.js"></script>	
			<script src="assets/js/jquery.dcjqaccordion.min.js"></script>	
			<!--<script src="assets/js/instagram.js"></script>-->	
			<!-- Google Map -->
			<script type="text/javascript" src="http://ditu.google.cn/maps/api/js?key=AIzaSyAvpnlHRidMIU374bKM5-sx8ruc01OvDjI"></script>
			<script src="assets/js/gmap3.min.js"></script>	
			
			<!-- Custom Script -->		
			<script src="assets/js/main.js"></script>	
			
			
	</body>
</html>

