<!DOCTYPE html>
<html lang="en">
<head>
<title>Support</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="description" content="">
<meta name="author" content="">
<!-- Main css -->
<link href="assets/css/main-style.css" rel="stylesheet" >

</head>
	<style type="text/css">

		.navbar-index-top .mega_menu>li>a {color:#FFFFFF}
		#search0{background: #FFFFFF}
		#search1{background: #FFFFFF}
		#button{color: #000000;}
		
		}
	</style>
<div class="nav-top-bar">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="top-bar-left">
					<ul>
						<!--
                                                    <li>
                                                        <form class="woocommerce-ordering" method="get">

                                                            <p>Group 8</p>

                                                        </form>
                                                    </li>

                        -->

						<li>
							<form class="woocommerce-ordering" method="get">
								<select class="selectpicker">
									<option>English</option>
									<option>简体中文</option>
									<option>Italiano</option>
								</select>
							</form>
						</li>

						<li>
							<form class="woocommerce-ordering" method="get">
								<select class="selectpicker">
									<option>USD</option>
									<option>EURO</option>
									<option>RMB</option>
								</select>
							</form>
						</li>

					</ul>
				</div>
			</div>

			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="top-bar-right">
					<ul>
						<li><a href="profile">My Account</a></li>
						<!--							<li><a href="#">Today's Deal</a></li>-->
						<!--							<li><a href="#">My Wishlist</a></li>-->
						<li><a href="#">Welcome!</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<body>
<!-- Navigation Area
	===================================== -->
	<div class="logo-section">
		<div class="container">
			<div class="logo-wrap">
				<div class="logo">
					<a href="welcome"><img class="" src="assets/images/logo.png" alt=""></a>
				</div>
				
				<div class="widget_product_search">
					<input style="color: #000000" type="text" class="form-control search-box" placeholder="Enter Search Items" id="search0">
					<button type="submit" class="submit-search" id="button"><i style="color: #000000" class="fa fa-search"></i></button>
				</div>
			</div>
		</div>
	</div>

<!-- Navigation Area
===================================== -->
<div class="navbar-sticky">
	<nav class="navbar navbar-index-top shadow">
		<div class="container header-container">
			<div id="main-menu-wrap"><a href="#" class="menu-trigger"></a></div>
			<!-- Main Menu -->
			<div id="main-menu" class="main-nav mega_menu_wrapper ">
			
				<ul id="custom-menu" class="main-menu mega_menu">
					<li class="menu-child-list"><a href="welcome">Game</a></li>
					<li class="menu-child-list"><a href="myCollection">My Collections</a></li>
					<li><a href="findPlayer">Fing Players</a></li>
					<li><a href="community">Community</a></li>
					<li><a href="support">Support</a></li>
					
				</ul>
			</div>
			
			<div class="pull-right nav-right-section">
				<ul class=" navbar-mini-cart-wrapper">
				
					<li>
					
					
					</li>
				</ul> <!-- end  navbar-mini-cart -->
			</div>
		</div>

	</nav>
</div>

<div id="page_wrapper"></div>

<!-- Common Header Area
===================================== -->
<section>
	<div class="breadcrumps-back">
		<div class="container">
			<div class="row">
				
			</div>
		</div>
	</div>
</section>

<!-- Page Content Area
===================================== -->
<section id="contact-page" class="ptb-100">
	<div class="container">

		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="media contact-detail-media"> 
					<div class="media-left"> 
						<i style="color: #2B0E9D" class="fa fa-map-marker" aria-hidden="true"></i>
					</div> 
					
					<div class="media-body"> 
						<h4 style="color: #2B0E9D" class="media-heading">Address</h4> 
						<p class="">
							Edinburgh

						</p> 
						<p>
							
						</p>
					</div> 
				</div>
			</div>
			
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="media contact-detail-media"> 
					<div class="media-left"> 
						<i style="color: #2B0E9D" class="fa fa-phone" aria-hidden="true"></i>
					</div> 
					
					<div class="media-body"> 
						<h4 style="color: #2B0E9D" class="media-heading">Phone</h4> 
						<p class="">
							+021-3456-789
						</p> 
						<p>
							+021-3456-780
						</p>
					</div> 
				</div>
			</div>
			
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="media contact-detail-media"> 
					<div class="media-left"> 
						<i style="color: #2B0E9D" class="fa fa-envelope" aria-hidden="true"></i>
					</div> 
					
					<div class="media-body"> 
						<h4 style="color: #2B0E9D" class="media-heading">Email</h4> 
						<p class="">
							support@mail.com

						</p> 
						<p>
							info@mail.com
						</p>
					</div> 
				</div>
			</div>
		</div>
			<div class="breadcrumps-heading">
						
						
						<ul>
							<li> <a href="#">FAQs(Click here to find answers for common questions)</a> </li>
							
						</ul>	
					</div>
		<div class="row pt-70">
			<div class="col-md-6">
				<div class="reply-form">
								
					<!-- Post Form -->
					<form class="form contact-us-form" name="contactform" id='contact_form' method="post" action='mail.php'>
						<div class="clearfix">
							<div id="contact_message"></div>
							
							<div class="col-xs-6">
								<!-- Name -->
								<div class="form-group inner-addon left-addon">
									<label style="color: #2B0E9D" for="exampleInputEmail1">name</label>
									<i class="fa fa-user" aria-hidden="true"></i>
									<input type="text" name="cf_name" class="form-control gardener-reply-form" id="exampleInputEmail1" pattern=".{2,100}" required>
								</div>
							</div>
							<div class="col-xs-6">
								<!-- Email -->
								<div class="form-group inner-addon left-addon">
									<label style="color: #2B0E9D" for="exampleInputEmail2">Email</label>
									<i class="fa fa-envelope" aria-hidden="true"></i>
									<input type="email" name="cf_email" class="form-control gardener-reply-form" id="exampleInputEmail2"  required>
								</div>
							</div>
							
							<div class="col-xs-12">
								<!-- Subject -->
								<div class="form-group inner-addon left-addon">
									<label style="color: #2B0E9D" for="exampleInputEmail3">subject</label>
									<i class="fa fa-tag" aria-hidden="true"></i>
									<input type="text" name="cf_subject" class="form-control gardener-reply-form" id="exampleInputEmail3"  required>
								</div>
							</div>
							
							<div class="col-xs-12">
								<!-- Message -->
								<div class="form-group inner-addon left-addon">
									<label style="color: #2B0E9D" for="exampleInputEmail4">message</label>
									<i class="fa fa-comment" aria-hidden="true"></i>
									<textarea rows="10" name="cf_message" class="form-control gardener-reply-area" id="exampleInputEmail4"></textarea>
								</div>

								<div class="form-group inner-addon">
									<label style="color: #2B0E9D" for="capcha" class="d_inline_b">Anti-spam test: 4+4=</label>
									<input id="capcha" type="text" name="cf_anti_spam" class="d_inline_b">
								</div>
								
							</div>
							
							<div class="col-xs-12">
								<!-- Send Button -->
								<button class="btn btn-default" style="background: #2B0E9D">Submit</button>
							</div>
						</div>
						
						
						
						
					</form>
				</div>
			</div>
			
			<div class="col-md-6">
				<div id="contact">
					<!-- Start Google Map -->
					<div id="map"></div>
					<!-- End Google Map -->
				</div>
				
				<div class="contact-page-social pt-40">
					<ul>
						<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Section Image Content  -->



<!-- Footer Area
===================================== -->

<!-- End Section Image Content  -->


<!-- ============ Js Files ============ -->
	<!-- Placed at the end of the document so the pages load faster -->
	
	<!-- Core js -->
	<script src="assets/js/jquery-3.1.1.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>	
	
	<script src="assets/js/menu.js"></script>	
	<script src="assets/js/jquery.sticky.js"></script>	
	<script src="assets/js/owl.carousel.min.js"></script>	
	<script src="assets/js/appear.js"></script>	
	<script src="assets/js/appear.js"></script>	
	<script src="assets/js/jquery.dcjqaccordion.min.js"></script>	
	<!--<script src="assets/js/instagram.js"></script>-->	
	<script src="assets/js/jquery.ytplayer.js"></script>	
	
	<!-- Google Map -->
	<script type="text/javascript" src="http://ditu.google.cn/maps/api/js?key=AIzaSyAvpnlHRidMIU374bKM5-sx8ruc01OvDjI"></script>
	<script src="assets/js/gmap3.min.js"></script>		
	
	<!-- Custom Script -->		
	<script src="assets/js/main.js"></script>	
	
	
	
	
</body>
</html>

